[Unit]
Description=Periodically re-resolve WireGuard wg0 endpoint

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
AccuracySec=15s

[Install]
WantedBy=timers.target
